.button1 {
    margin-left:auto;
    margin-right:auto;
    font-size:22px;
    height:35px;
    width:150px;
    border-radius: 25px;
    background-color: #4CAF50;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#grad1 {
    background-color: blue; /* For browsers that do not support gradients */
      background-image: linear-gradient(to bottom right, blue, violet);
}
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: black;
    background: rgb(128, 128, 128);
    filter: blur(2px);
}
.grid-container {
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
